body {
    font-family: "Open Sans", sans-serif;
}

div#sources_tree {
    width: 45%;
    margin-right: 2.5%;
    padding: 0;
    float: left;
}

div#lessons_tree {
    width: 45%;
    padding: 0;
    float: left;
}

ol {
    max-width: 100%;
    padding-left: 25px;
}

.placeholder {
    outline: 1px dashed #4183C4;
}

.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}

ol.sortable, ol.sortable ol {
    list-style-type: none;
}

ol.sortable li div {
    background-color: #eee;
}

ol.sortable li li div {
    background-color: #e9e9e9;
}

ol.sortable li li li div {
    background-color: #e0e0e0;
}

ol.sortable li li li li div {
    background-color: #ddd;
}

.sortable li div {
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: move;
    border-color: #999 #999 #888;
    margin: 0;
    padding: 0.5em;
}


li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #666;
}

.disclose, .expandEditor {
    cursor: pointer;
    width: 20px;
    display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
    content: '+ ';
}

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
    content: '- ';
}

.sortable span.ui-icon {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.sortable li.dirty>div {
    background-color: #cca;
}

.sortable li.new>div {
    background-color: #aac;
}

.sortable li.selected>div {
    background-color: #ccf;
}