{% extends 'repo/base.html' %}
{% load require %}
{% load admin_urls %}
{% block scripts %}
{% require_module '../file_listing' %}
{% endblock %}
{% block content %}
<div id="sources_tree">
<input id="fileupload" type="file" name="files[]" data-url="/endnote/upload/" multiple>
<div class="ui-widget">
  <label for="biblio">Birds: </label>
  <input id="biblio">
</div>
<h2>Source files</h2>
<ol class="sortable">
	{% for topic in topics %}
	<li class="repo-object-topic-{{ topic.id }}">
		<div>
			{% if topic.modules.count %}
		    <span title="Click to show/hide children" class="disclose">
            <span></span>
        	</span>
        	{% endif %}
			{{ topic }}
		</div>
		<ol>
		{% for module in topic.modules.all %}
			<li class="repo-object-module-{{ module.id }}">
				<div>
					{% if module.ordered_videos %}
				    <span title="Click to show/hide children" class="disclose">
        			<span></span>
    				</span>
    				{% endif %}
					{{ module }}
				</div>
				{% include 'repo/file_listing.html' with file_list=module.ordered_videos with_list=1 module=module %}
			</li>
		{% endfor %}
		</ol>
	</li>
	{% endfor %}
</ol>
</div>
<div id="lessons_tree">
<h2>Lesson structure</h2>
<form id="remote-sync">
<input type="submit" value="Publish changes"></input>
</form>
<form id="local-ops">
<input type="submit" value="Select all"></input>
<label for="action">Actions:
	<select name="action">
		<option value="_">------</option>
		<option value="clear">Mark as clean</option>
		<option value="sync">Sync to Drupal</option>
	</select>
</label>
<input type="submit" value="Go"></input>
</form>
<ol class="sortable">
{% for topic in topics %}
	<li data-url-edit="{% url opts.topic|admin_urlname:'change' topic.pk %}"
		data-from-url-edit="{% url opts.topic|admin_urlname:'changelist' %}"  
		data-url-new="{% url opts.module|admin_urlname:'add' %}?topic={{ topic.pk }}" 
		data-from-url-new="{% url opts.module|admin_urlname:'changelist' %}"
		class="repo-object-topic-{{ topic.id }}{% if topic.is_dirty and topic.remote_id %} dirty{% endif %}{% if not topic.remote_id %} new{% endif %}{% if not l.remote_id %} new{% endif %}">
		<div>
		    <span title="Click to show/hide children" class="disclose">
            <span></span>
        	</span>
			{{ topic }} {{ topic.remote_id }}
		</div>
		<ol>
		{% for module in topic.modules.all %}
			<li data-url-edit="{% url opts.module|admin_urlname:'change' module.pk %}" 
				data-from-url-edit="{% url opts.module|admin_urlname:'changelist' %}" 
				data-url-new="{% url opts.lesson|admin_urlname:'add' %}?modules={{ module.pk }}"
				data-from-url-new="{% url opts.lesson|admin_urlname:'changelist' %}"
				class="repo-object-module-{{ module.pk }}{% if module.is_dirty and module.remote_id %} dirty{% endif %}{% if not module.remote_id %} new{% endif %}">
				<div>
				    <span title="Click to show/hide children" class="disclose">
        			<span></span>
    				</span>
					{{ module }} {{ module.remote_id }}
				</div>
				{% include 'repo/lesson_listing.html' with lesson_list=module.ordered_lessons with_list=1 module=module %}
			</li>
		{% endfor %}
		</ol>
	</li>
	{% endfor %}
	</ol>
</div>
{% endblock %}