{% load admin_urls %}
<ol>
    {% for l in lesson_list %}
    <li data-url-edit="{% url opts.lesson|admin_urlname:'change' l.pk %}"
        data-from-url-edit="{% url opts.lesson|admin_urlname:'changelist' %}"
        data-url-new="{% url opts.question|admin_urlname:'add' %}?lessons={{ l.pk }}" 
        data-from-url-new="{% url opts.question|admin_urlname:'changelist' %}"
        class="repo-object-lesson-{{ l.pk }}{% if l.is_dirty and l.remote_id %} dirty{% endif %}{% if not l.remote_id %} new{% endif %}">
        <div>
            {% if l.ordered_questions %}
            <span title="Click to show/hide children" class="disclose">
                <span></span>
            </span>
            {% endif %}  
            {{ l.title }} {{ l.remote_id }} {{ l.order }} {{ l.pk }} {{ l.dirty }}
        </div>
        {% if l.ordered_questions %}
        <ol class="questions">
            {% for q in l.ordered_questions %}
            <li data-url-edit="{% url opts.question|admin_urlname:'change' q.pk %}"
             data-from-url-edit="{% url opts.question|admin_urlname:'changelist' %}"
                data-url-new="{% url opts.uniquefile|admin_urlname:'add' %}?questions={{ q.pk }}" 
                data-from-url-new="{% url opts.uniquefile|admin_urlname:'changelist' %}"
                data-url-add-files="{% url 'add_files' 'question' q.pk %}"
                class="repo-object-question-{{ q.pk }}{% if q.is_dirty and q.remote_id %} dirty{% endif %}{% if not q.remote_id %} new{% endif %}">
                <div>
                            {% if q.ordered_files %}
            <span title="Click to show/hide children" class="disclose">
                <span></span>
            </span>
            {% endif %}  
                   {{ q.title }} {{ q.remote_id }} {{ q.order }} {{ q.pk }}  {{ q.dirty }}
                </div>
                {% if q.ordered_files %}
                <ol class="files">
                {% for f in q.ordered_files %}
                <li class="repo-object-uniquefile-{{f.pk}}">
                <div>
                   [ {{ f.type }} ] {{ f.title }} {{ f.type }}  {{ f.pk }}
                </div>
                {% endfor %}
                </ol>
                {% endif %}
            </li>
            {% endfor %}
        </ol>
        {% endif %}
    </li>
    {% endfor %}
</ol>